@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap'); */
header{
    font-family: 'Homemade Apple';
}

.landing{
    background-image:linear-gradient(to bottom, rgba(41, 42, 45, 0), rgba(0, 0, 0, 0)),
    url('/landing.jpg');
    background-position: center;
    height: 800px;
    position: relative;

}

.brush-img{
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    /* background-color: black; */
    background-image: url('/brush.png');
    width: 100%;
    height:200px;
}

.css-button-sliding-to-left--red {
  min-width: 130px;
  height: 20px;
  color: #fff;
  /* padding: 5px 10px; */
  /* font-weight: bold; */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  /* border-radius: 5px; */
  z-index: 0;
  background: #fff;
  overflow: hidden;
  /* border: 2px solid #d90429; */
  color: inherit;
}
.css-button-sliding-to-left--red:hover {
  /* color: #fff; */
  font-weight: bold;
}
.css-button-sliding-to-left--red:hover:after {
  width: 80%;
}
.css-button-sliding-to-left--red:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  width: 0;
  height: 10px;
  background: #d90429;
}